{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
New Post
{% endblock %}

{% block content %}
<div class="container-fluid row">
	<div class="col-md-8">
		<h1 class="py-3 px-2 bg-dark text-light d-flex justify-content-between">New Post </h1>
		<div class="bg-grey container mx-auto py-3">

			{% if form.non_field_errors %}
			<div class="alert alert-warning alert-dismissible fade show" style="font-size: 11px" role="alert">
				{{ form.non_field_errors }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}

			<form method="POST" enctype="multipart/form-data" id="postForm">
				{% csrf_token %}
				{% for field in form %}
				<div class="form-group">
					{% if field.errors %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						{{ field.errors }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endif %}

					{{ field.label_tag }}
					{{ field|add_class:'form-control' }}
				</div>
				{% endfor %}
				<input type="submit" class="btn btn-primary btn-block" value="Add Post">
			</form>
		</div>
	</div>
	<div class="col-md-4">
		<h3 class="py-3 px-2 bg-dark text-light text-right">Me</h3>
		{% include 'accounts/profile.html' %}
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const form = document.getElementById('postForm');
		form.addEventListener('submit', function (event) {
			const pictureInput = form.querySelector('input[name="picture"]');
			const textArea = form.querySelector('textarea[name="text"]');
			let isValid = true;
			let errorMessage = '';

			if (!pictureInput.value.trim()) {
				isValid = false;
				errorMessage += 'Picture is required. ';
			}

			if (!textArea.value.trim()) {
				isValid = false;
				errorMessage += 'Text is required.';
			}

			if (!isValid) {
				event.preventDefault();
				alert(errorMessage);
			}
		});
	});
</script>
{% endblock %}